img {
    max-width: 100%;
}

body    {    
    width: 100%;
    background-color: #ffffff;
    
    background:url(/images/yellowstripe22.jpg);
    
    background-repeat:repeat x;
    margin-top: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 0pt;
}

#wrapper{
	width:640px;
	margin-left:auto;
	margin-right:auto;	
}

.showOnMobile{
	display:none;
}

#tagline{
	text-align:right;
	width:400px;
	margin-top:80px;
	position:relative;
	display:inline;
	float:left;
	font-family: arial,sans-sarif;
	}


.fadeThis {
		position:relative;
		display:inline;
        float:left;
		height: 186px;
		width: 186px;
        margin-right:50px;
		
        background:url(/images/blogo.jpg) 0 0 no-repeat;
		
        text-indent:-9999px;
}

.hover {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		height: 186px;
		width: 186px;

		margin:0px;		
		background:url(/images/blogo.jpg) 0 -186px no-repeat;
	
		}

#leftside {
		display:inline;
		float:left;
		position:relative;
		width:440px;
		margin:0px 0px 30px 0px;
		font-family: arial,sans-sarif;
		}

#rightside{
		text-align:right;
		display:inline;
		float:left;
		position:relative;
		width:200px;
		font-family: arial,sans-sarif;
		}

@font-face {
 font-family: Muli-Light;
 src: url("/images/Muli-Light.eot") /* EOT file for IE */
}

@font-face {
 font-family: Muli-Light;
 src: url("/images/Muli-Light.ttf") /* TTF file for CSS3 browsers */
}

h1 {font-family: Muli-Light;
font-size:21px;
color:#7d8688;
}

h2 {font-family: Muli-Light;
font-size:16px;
color:#7d8688;
}

h3 {font-family: arial,sans-sarif;
font-weight:normal;
text-decoration:underline;
font-size:12px;
color:#7d8688;
display:block;
line-height:14px;
}

p {font-family: arial,sans-sarif;
font-size:12px;
color:#7d8688;
padding:10px 30px 10px 0px;
}

#leftside a {
cusor:pointer;
text-decoration:none;
}

#rightside ul {
list-style-type:none;
font-family: arial,sans-sarif;
font-size:12px;
color:#7d8688;
padding:3px 0px 10px 0px;
}


#rightside ul a:link{text-decoration:none;font-family: arial,sans-sarif;font-size:12px;color:#7d8688;}
#rightside ul a:visited{text-decoration:none;font-family: arial,sans-sarif;font-size:12px;color:#7d8688;}
#rightside ul a:hover{text-decoration:none;font-family: arial,sans-sarif;font-size:12px;color:#5c6364;}
#rightside ul a:active{text-decoration:none;font-family: arial,sans-sarif;font-size:12px;color:#7d8688;}

#footer{
font-family: arial,sans-sarif;
font-size:10px;
color:#7d8688;
margin:0px 0 30px 0;
text-align:center;
}

#footerleft{
float:left;
}

#footerright{
float:right;
}

#footer img{
padding:5px 0px 2px 0px;
}

.header2{
height:30px;
}


/** RESPONSIVE EDITS**/
@media screen and (max-width: 500px) {

	.showOnMobile{
		display: block;
		}
		
	.showOnDesk{
		display:none;
		}

	#wrapper{
			width:100%;	
			padding:0px !important;
			margin:0px !important;
			}
		
	#top{
			width:100%;
			margin: 0px;
			}
			
	#tagline{
			text-align:center;
			width:100%;
			margin:10px 0px;
			position:relative;
			display:block;
			float:none;
			}
			
			#tagline h1{
			font-size:16px;
			}

	.fadeThis {
			position:relative;
			display:block;
        	float:none;
			height: 186px;
			width: 100%;		
        	background:url(/images/blogo.jpg) 50% 0 no-repeat;
		
        	text-indent:-9999px;
			}

	.hover {
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			height: 186px;
			width: 100%;		
			background:url(/images/blogo.jpg) 39.8% -186px no-repeat;
	
			}
		
	h1{
			text-align:center;
			padding:1em 0;
			}
	
	 #leftside{
			display:block;
			float:none;
			width:100%;
			padding:1em 0 0 5px;
			text-align:center;
			}
			

	#rightside{
			padding:1em 0;
			text-align:center;
			display:block;
			float:none;
			width:100%;
			background-color:#ffffff;
			}
			
	#footer{
			font-size:10px;
			color:#7d8688;
			margin:0;
			padding:1em 0 0 0;
			}
	
	#footerleft{
			float:none;
			display:block;
			padding:0px;
			margin:0px;
			}

	#footerright{
			float:none;
			display:block;
			}
}