*{
	margin:0;
	padding:0;
}


#slideshow{
	background-color:#FFF;
    	border:1px solid #c9c9c9;
	height:340px;
	margin:0px auto 40px auto;
	position:relative;
	width:640px;
}

#slideshow ul{
	height:320px;
	left:10px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	top:10px;
	width:620px;
}

#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	z-index:1000;
}

#slideshow .slideActive{
	z-index:1000;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow .arrow{
	height:86px;
	width:60px;
	position:absolute;
<<<<<<< HEAD
<<<<<<< HEAD
	background:url('/images/arrows.png') no-repeat;
=======
	background:url('/WORD/graphics/v2/mtp/arrows.png') no-repeat;
>>>>>>> 1042124019f32aa5024cbe63f3c47b453550c14a
=======
	background:url('/images/arrows.png') no-repeat;
>>>>>>> 519b80f257e8a8cee16ca73d5b8970c21fcc06de
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}


.clear{
	clear:both;
}
