body    {    
    width: 100%;
    min-width: 976px;
    background-color: #ffffff;
    background:url(/images/yellowstripe22.jpg);
    background-repeat:repeat;
    margin-top: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 0pt;
}



#top{
position:relative;
width:640px;
margin-left:auto;
margin-right:auto;
}

#tagline{
text-align:right;
width:400px;
margin-top:80px;
position:relative;
display:inline;
float:left;
font-family: arial,sans-sarif;
}


.fadeThis {
		position:relative;
		display:inline;
                float:left;
		height: 186px;
		width: 186px;
                margin-right:50px;
		background:url(/images/blogo.jpg) 0 0 no-repeat;
		text-indent:-9999px;
}

.hover {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		height: 186px;
		width: 186px;
		background:url(/images/blogo.jpg) 0 -186px no-repeat;
	}

#leftside {
display:inline;
float:left;
position:relative;
width:440px;
margin:0px 0px 30px 0px;
font-family: arial,sans-sarif;
}

#rightside{
text-align:right;
display:inline;
float:left;
position:relative;
width:200px;
font-family: arial,sans-sarif;
}


@font-face {
 font-family: Muli-Light;
 src: url("http://www.jdhdesign.com/images/Muli-Light.eot") /* EOT file for IE */
}
@font-face {
 font-family: Muli-Light;
 src: url("http://www.jdhdesign.com/images/Muli-Light.ttf") /* TTF file for CSS3 browsers */
}


h1 {font-family: Muli-Light;
font-size:21px;
color:#7d8688;
}

h2 {font-family: Muli-Light;
font-size:16px;
color:#7d8688;
}

h3 {font-family: arial,sans-sarif;
font-weight:normal;
text-decoration:underline;
font-size:12px;
color:#7d8688;
display:block;
line-height:14px;
}

p {font-family: arial,sans-sarif;
font-size:12px;
color:#7d8688;
padding:10px 30px 10px 0px;
}

#rightside ul {
list-style-type:none;
font-family: arial,sans-sarif;
font-size:12px;
color:#7d8688;
padding:3px 0px 10px 0px;
}


#rightside ul a:link{text-decoration:none;font-family: arial,sans-sarif;font-size:12px;color:#7d8688;}
#rightside ul a:visited{text-decoration:none;font-family: arial,sans-sarif;font-size:12px;color:#7d8688;}
#rightside ul a:hover{text-decoration:none;font-family: arial,sans-sarif;font-size:12px;color:#5c6364;}
#rightside ul a:active{text-decoration:none;font-family: arial,sans-sarif;font-size:12px;color:#7d8688;}


#contact{
font-family: arial,sans-sarif;
}

#contact p{
height:0px;
display:block;
clear:both;
}

.wpcf7-submit{
width:50px;
position:relative;
top:-20px;
left:590px;
font-family: arial,sans-sarif;
font-size:12px;
color:#7d8688;
border-style:solid;
border-width:0px;
}

.YourName input  {
position:relative;
top:0px;
left:30px;
font-family: arial,sans-sarif;
font-size:12px;
color:#7d8688;
border-style:none;
float:right;
display:block;
background-color:#ffffff;
width:200px;
}

.YourEmail input  {
position:relative;
top:0px;
left:30px;
border-style:none;
font-family: arial,sans-sarif;
font-size:12px;
color:#7d8688;
float:right;
background-color:#ffffff;
width:200px;
}

.Subject input  {
position:relative;
top:0px;
left:30px;
border-style:none;
font-family: arial,sans-sarif;
font-size:12px;
color:#7d8688;
float:right;
background-color:#ffffff;
width:200px;
}

.YourMessage textarea  {
border-style:none;
font-family: arial,sans-sarif;
font-size:12px;
color:#7d8688;
position:relative;
top:-75px;
left:0px;
background-color:#ffffff;
width:420px;
}

#Message  {
height:65px;
overflow:hidden;
}

.wpcf7-response-output{
border-style:none;
margin-left:0px;
width:500px;
font-weight:bold;
text-transform:uppercase;
font-family:arial ,sans-sarif;
font-size: 14px;
color:#7d8688;
background-color:transparent; 
}

.wpcf7-not-valid-tip-no-ajax{
position:absolute;
padding-left:0px;
margin:0px;
border-style:none;
font-weight:bold;
text-transform:uppercase;
font-family:arial ,sans-sarif;
font-size: 14px;
color:#7d8688;
background-color:transparent; 
}

#footer{
font-family: arial,sans-sarif;
font-size:10px;
color:#7d8688;
margin:0px 0 30px 0;
text-align:center;
}

#footerleft{
float:left;
}

#footerright{
float:right;
}

#footer img{
padding:5px 0px 2px 0px;
}

.header2{
height:30px;
}

.greyline{
height:20px;
}
